/* @import "./custom/animation.css"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 0 184 179;
  --color-secondary: 22 31 54;
  --color-v_dark: 52 73 94;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* ... */
}
